{% extends 'base.html.twig' %}

{% block title %} Utilisateurs| Confirmation inscription{% endblock %}

{% block content %}
    <div class="container center">
    L'utilisateur a bien été ajouté. 
    </div>
{% endblock %}