{% extends 'base.html.twig' %}

{% block title %} Utilisateurs| Afficher l'utilisateur{% endblock %}
    

{% block content %}
    <div class="container center">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Information de l'utilisateur</h4>
            </div>
            <div class="col s12 m12 l12">
            {% for user in user %}
            <div class="col s12 m12 l12">
                <ul>
                    <li> Prénom: {{ user.firstname}} </li>
                    <li> Nom: {{ user.lastname}} </li>
                </ul>
            </div>
            <div class="col s12 m12 l12">
            <a href="{{ path('edit', {'id' : user.id}) }}"><input type="button" value="Modifier l'utilisateur"></a>
            </div
            {% endfor %}
{% endblock %}